{
    "plugins": [
        [
            "import",
            {
                "libraryName": "smart-city-ui",
                "libraryDirectory": "packages",
                "style": true, // or 'css'
            }
        ]
    ]
}